@font-face {
    font-family: 'Pacifico';
    src: url('font/pacifico-webfont.eot');
    src: url('font/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/pacifico-webfont.woff') format('woff'),
         url('font/pacifico-webfont.ttf') format('truetype'),
         url('font/pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: url(../img/bg.png);
}

p#loading {
	margin: 0 0 12px 0;
	font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #1b809d;
}

div#container {
	margin: 30px auto;
	text-align: center;
	width: 100%;
}

h1 {
	font-family: "Pacifico";
	font-size: 3em;
	text-align: center;
	color: #1b809d;
	text-shadow: 3px 3px #99d9eb;
	margin: 0;
	padding: 0;
}

div#input-container {
	width: 90%;
	margin: 0 auto;
}

div#word-wrapper {
	background: #fff;
	border-radius: 8px;
	border: 1px solid #eee;
}

div#indicator {
	display: block;
	height: 25px;
	width: 25px;
	float: right;
	padding: 10px 20px 0 0;
}

input#word {
	width: 70%;
	font-size: 20px;
	padding: 4px 8px;
	outline: none;
	background: transparent;
	border: 0px;
	float: left;
	-webkit-appearance: none;
}

#indicator.yup {
	background: url(../img/check.png) center center no-repeat;
}

#indicator.nope {
	background: url(../img/nope.png) center center no-repeat;
}

div#footer {
	font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
	font-size: 12px;
	text-align: center;
	position: fixed;
	bottom: 15px;
	width: 100%;
}

div#footer ul {
	margin: 0;
	padding: 0;
}

div#footer ul li {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}

div#footer a {
	text-decoration: none;
	color: #1b809d;
	font-weight: bold;
	padding: 0 5px;
	margin: 0;
	border-right: 1px solid #ccc;
}

div#footer a:hover {
	text-decoration: underline;
}

div#footer a.first {
	border-left: none;
}

div#footer a.last {
	border-right: none;
}